@charset "UTF-8";

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: darkgray;
    font: normal 15px ' courier';
     
}

header {
    color: white;
    text-align: center;
}

header > h1 {
    font-family: 'Courier New', Courier, monospace;
}

section {
    background: white;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px #00000059;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#msg {
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#foto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
