@charset "UTF-8"

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(172, 172, 251);
    font: normal 15px ' courier';
     
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px #00000059;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}